body {
    background-color: #14192b;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 100; */
    font-style: normal;
}

/* sidebar */
.sticky-offset{

    /* margin-top: 20%; */
    top: 15%;
}

.hover-card-yellow {
    color: aliceblue;
}
.hover-card-yellow:hover {
    background-color: #ff951c;
}
.hover-card-yellow:hover{
    color: #000000 ;
}

/*  global */
.rounded-1{
    border-radius: 4px;
}
.rounded-2{
    border-radius: 8px;
}
.rounded-3{
    border-radius: 12px;
}
.rounded-4{
    border-radius: 16px;
}
.rounded-5{
    border-radius: 20px;
}

.bg-grey {
    background-color: #52545b;
}

.bg-white-azure {
    background-color: rgb(232, 254, 254);
}

.bg-red {
    background-color: #ff2020;
}

.bg-green {
    background-color: #3bea00;
}

.bg-yellow {
    background-color: #ff951c;
}

.bg-yellow-darker {
    background-color: #ff8800;
}

.bg-dark-secondary {
    background-color: #252f45e6;
}

.bg-transparent {
    background-color: #ffffff00;
}

.text-yellow {
    color: #ffa842;
}
.text-yellow-dark {
    color: #ff8800;
}

.pointer {
    cursor: pointer;
}

.btn-outline-none {
    border: transparent;
}

.skew-15 {
    transform: skew(-15deg);
}
.skew-15 p{
    transform: skew(15deg);
}

.image-revert {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* END global */

.bg {
    position: absolute;
    height: 110%;
    width: 100%;
    background-color: #14192b;
    /* background-image: url("../images/bg.png");  */
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    top: 0;
}

.btn-warning {
    background-color: #ff951c; 
    color: white;
    border-radius: 12px
}

.btn-light {
    background-color: #FFF6E0;
    color: #ffa842;
    border-radius: 12px; 
}

.border-sm-dark {
    border-color: #000000; 
    border-style: solid; 
    border-width: 1px
}

#recommended-product {
    background: linear-gradient(to bottom, #ffa842, #ffa74266);
}

#category {
    background-color: #0e101d;
    border-color: rgb(144, 147, 147);
    border-width: 3px;
    color: aliceblue;
}
#category.active{
    background-color: rgb(255, 168, 66);
    border-color: rgb(255, 168, 66);
}
#category:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 168, 66);
    box-shadow: 5px 5px 5px 0px rgba(255, 168, 66, 0.8);
    filter: drop-shadow(5px 5px 5px rgba(255, 168, 66, 0.8));
}

#nav-search {
    border-bottom-left-radius: 13px; 
    border-start-start-radius: 13px; 
    background-color: #1e253f;
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        text-align: center; /* Pusatkan logo */
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: center; /* Pusatkan item secara vertikal */
    }

    .navbar .col-md-7 {
        order: 2; /* Geser logo ke atas */
        margin-bottom: 10px; /* Beri jarak antara logo dan elemen berikutnya */
    }

    .navbar .col-md-5 {
        width: 100%;
    }
}

/* FAQ Icon */
.animated-zoom {
animation: zoom-in-zoom-out 5s ease infinite;
}

/* Keyframes for the zoom in zoom out animation */
@keyframes zoom-in-zoom-out {
  /* At the beginning of the animation */
  0% {
    /* Scale the element to its original size */
    transform: skew(8deg);
  }
  /* At the middle of the animation */
  50% {
    /* Scale the element to 1.5 times its original size */
    transform: skew(-8deg);
  }
  /* At the end of the animation */
  100% {
    /* Scale the element back to its original size */
    transform: skew(8deg);

  }
}