img {
    border-radius: 20px;
}

.border-radius {
    border-radius: 20px;
    background-color: #0e101d;
}

.hover-zoom:hover img {
    opacity: 0.3;
    transition: 0.3s ease;
    width: 100%;
}

.text-hover{
    background: linear-gradient(to top, #0e101d, #0e101d00);
    visibility: hidden;
}
    
.hover-zoom:hover .text-hover {
    visibility: visible;
}